@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cardo", serif;
    background-color: #2a603b;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    height: 33rem;
    width: 25rem;
    position: relative;
    display: flex;
    background-color: white;
}

.value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12rem;
}

.suit-left {
    font-size: 6rem;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
}

.suit-right {
    position: absolute;
    left: 83%;
    top: 75.5%;
    font-size: 6rem;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);
}

.red {
    color: #e32729;
}

.black {
    color: black;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-container {
    margin-top: 2rem;
}

button {
  background: radial-gradient(circle at center, #f5d76e, #D4AF37);
  color: #1E1E1E;
  padding: 12px 28px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
  position: relative;

  box-shadow: 0 6px 0 #7a6422, 0 8px 15px rgba(0, 0, 0, 0.3);

  transition: all 0.2s ease;
}

button::before {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 999px;
  border: 2px dashed rgba(255, 255, 255, 0.6);
}

button:hover {
  background: radial-gradient(circle at center, #ffe27a, #c9a633);
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 3px 0 #7a6422, 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: 2px solid #ffffff;
  outline-offset: 3px;
}